.flex-box {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.red {
  background-color: lightpink;
  width: 100px;
}

.blue {
  background-color: lightblue;
  width: 200px;
}

.flex-box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row2 {
  background-color: black;
  color: white;
}
