.install-card {
  background-color: rgb(59, 59, 59);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  width: 380px;
}

p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.main-title {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

.description {
  color: gray
}
