.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item1 {
  width: 40px;
  background-color: lightpink;
}

.item2 {
  width: 40px;
  background-color: lightpink;
}

.item3 {
  width: 40px;
  background-color: lightpink;
}

.item4 {
  width: 40px;
  background-color: lightpink;
}
